log/*
log/plot/*
!log/plot/
!log/plot/plot_overheads_and_wwdls__range4-35__average__f-crc-cub-dhr-edn-fib-huf-mat-md5-min-mon-nbo-net-net-nsi-pic-pri-qrd-sgl-slr-st-sta-tar-ud-wik.pdf
!log/plot/plot_overheads_and_wwdls__range4-35__f-crc-cub-dhr-edn-fib-huf-mat-md5-min-mon-nbo-net-net-nsi-pic-pri-qrd-sgl-slr-st-sta-tar-ud-wik.pdf
!log/already_computed*
!log/README.md
